body { 
    background-color: white;
}
/*Navbar*/
.navbar-brand {
    background-color: white;
    background-color: #ac2e2e;
    color: black;
    min-height: 2.125rem;
    top:0;
    font-size: 1.1rem;
    padding: .25rem;
}
/* Main content*/
.container {
    width: 800px;
    max-width: 75%;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}
/* Answer buttons*/
#firstChoice, #secondChoice, #thirdChoice, #fourthChoice {
    color: black;
    background-color: #ac2e2e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Start quiz button*/
#startButton{
    text-align: center;
    color: black;
    background-color: #ac2e2e;
}
/* Center content */
#buttonDiv{
    text-align: center;
}
#answers{
    text-align: center;
}
#question {
    text-align: center;
}
#master-div {
    text-align: -webkit-center;
}
/* Score section*/
#yourScore {
    margin: 15px 15px 15px 15px;
    text-align: center
}
#input-field {
    margin-right: 15px;
    margin-left: 15px;
}
     
